
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}
.container{
    /* margin: 0 140px; */
    margin: 0 auto;
    /* border: 1px solid blue; */
    max-width: 1160px;
    
}
.header{
    margin-top: -8px;
}

.menu{
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    text-align: center;
    display: flex;
    /* border: 1px solid red; */
  }
  a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}

.icon_programmer{
    position: absolute;
    width: 170px;
    height: 170px;
    right: 160px;
    top: 35px;
    background: #f1f1f1;
    border-radius:100px
}

.icon_programmer img{
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-top: 26px;
}

.icon_message{
    position: absolute;
    width: 64px;
    height: 64px;
    right: 1135px;
    top: 370px;
    background: #F1F1F1;
    border-radius: 100px;
}

.icon_message img{
    display: block;
    width: 28px;
    height: 24px;
    margin: 0 auto;
    margin-top: 20px;
}


.icon_lightning{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1140px;
    top: 400px;

    background: #f1f1f1;
    border-radius:100px
}

.icon_lightning img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
}

.header_line{
    display: flex;
    align-items: center;
    margin: 38px 0 0 0 ;
}

.menu_header_items{
    color: #000;
    text-decoration: none;
    margin-right: 32px;    
}

.menu{
    font-weight: 500;
    font-size: 16px;
    margin-left: 225px;
}

.header_logo{

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: 2px solid #000000;
    border-radius: 8px;
    padding: 4px 8px;
}

.section_title_big{
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.02em;
    margin: 114px 0 40px 0;
    color: #181818;
}

.section_text_little{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 80px 0;
    color: #000000;
}

.section_button_up{
    text-align: center;
    padding: 0 0 137px 0;
    
    
}

.section_button_up_telegram{
    align-items: center;
    padding: 15px 24px 17px;
    gap: 8px;

    width: 215px;
    height: 56px;

    background: #181818;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 0;
    color:#fff;
    text-decoration: none;
    font-weight: 600;
    margin-right: 16px;
}

.section_button_up_video{

    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 24px 15px;
    gap: 12px;
    
    width: 221px;
    height: 56px;
    
    border: 2px solid #181818;
    border-radius: 8px;
        
    flex: none;
    order: 1;
    flex-grow: 0;
    text-decoration: none;

    font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #181818;
}

.section_button_down {
    text-align: center;
}

.section_button_up_items_black{

padding: 4px 16px;
gap: 8px;

width: 62px;
height: 32px;

background: #181818;
border-radius: 10000px;
color:#fff;
flex: none;
order: 0;
flex-grow: 0;
margin-right: 17px;

font-weight: 600;
font-size: 16px;
line-height: 24px;
}

.section_button_up_items{
    padding: 3px 15px;
gap: 8px;

width: 146px;
height: 32px;

border: 1px solid #000000;
border-radius: 10000px;

flex: none;
order: 1;
flex-grow: 0;
text-decoration: none;
color:#181818;

margin-right: 17px;
font-weight: 600;
font-size: 16px;
line-height: 24px;
}

.image_first{
border-radius: 20px;
height: auto;
width: 1128px;
text-align: center;
margin: 40px 0 0 0; 
display: block;
margin: 40px 0 40px 0;
}

.image_second{
    border-radius: 20px;
    width: auto;
    height: 387px;
    margin: 0 40px 0 0;
}

.image_third{
    width: auto;
    height: 387px;
}

.image_four{
    border-radius: 20px;
height: auto;
width: 1128px;
text-align: center;
margin: 40px 0 0 0; 
display: block;
margin: 40px 0 40px 0;
}

.image_five{
    border-radius: 20px;
    width: auto;
    height: 445px;
    margin: 0 40px 0 0;
}

.image_six{
    width: auto;
    height: 445px;
}

.about{
    margin: 215px 0 72px 0;
}

.about_title{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #181818; 
    width: 484px;
    text-align: left;
    margin-bottom: 24px;
    margin-right: 90px;
}

.about_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    width: 484px;
    text-align: left;
}

.about_holder{
    display: flex;
    justify-content: space-between;
}
.about_image{
    position: relative;
    top: -100px;
    left: 140px;
}

.image_one{
    position: absolute;
    width: 400px;
    height: 560px;
}

.icon_champ{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 220px;
    top: 3205px;
    z-index: 1;
    background: #f1f1f1;
    border-radius:100px
}

.icon_champ img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
}

.about_number{
    display: flex;
    width: 484px;
    justify-content: center;
    margin-top: 64px;
}

.about_number_item{
    margin-right: 87px;
    text-align: left;
    font-size: 24px;
}

.about_number_item span{
    display: block;
    font-size: 16px;

}

.services{
    margin-top: 120px;
    padding-bottom: 120px;
    background-color: #000;
    /* Position: absolute; 
    Left:0; 
    Width:100%; */
    Left: 0;
    max-width: inherit;
}

.services_title{
    justify-content: center;
    text-align: center;
    padding: 120px 0 80px 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #FFFFFF;

}

.services_blocks{
    display: flex;
    
}
.block_one{
    background-color:#fff;
    width: 240px;
    height: 320px;
border-radius: 16px;
margin-right: 28px;

flex: none;
order: 0;
flex-grow: 1;
padding: 40px;
margin-left: 140px; 
}


.block_one_number{
    font-weight: 500;
font-size: 12px;
line-height: 24px;
color: #181818;
opacity: 0.5;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-bottom: 16px;
}

.block_one_title{
    font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #181818;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-bottom: 20px;
}
.block_one_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    color: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 112px;
    width: 288px;
height: 96px;
}
.block_one_cash{
    font-weight: 600;
font-size: 24px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}















.block_two{
    background-color:#fff;
    width: 240px;
    height: 320px;
border-radius: 16px;
/* margin-left: 140px ; */
margin-right: 28px;

flex: none;
order: 0;
flex-grow: 1;
padding: 40px;
}


.block_two_number{
    font-weight: 500;
font-size: 12px;
line-height: 24px;
color: #181818;
opacity: 0.5;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-bottom: 16px;
}

.block_two_title{
    font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #181818;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-bottom: 20px;
}
.block_two_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    color: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 112px;
    width: 288px;
height: 96px;
}
.block_two_cash{
    font-weight: 600;
font-size: 24px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}






.block_three{
    background-color:#fff;
    width: 240px;
    height: 320px;
border-radius: 16px;
margin-right: 140px ;

flex: none;
order: 0;
flex-grow: 1;
padding: 40px;
}


.block_three_number{
    font-weight: 500;
font-size: 12px;
line-height: 24px;
color: #181818;
opacity: 0.5;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin-bottom: 16px;
}

.block_three_title{
    font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #181818;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin-bottom: 20px;
}
.block_three_text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    color: #181818;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 112px;
    width: 288px;
height: 96px;
}
.block_three_cash{
    font-weight: 600;
font-size: 24px;
line-height: 24px;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #181818;
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
}


.serv{
    margin-top: 120px;
    margin-bottom: 120px;
}

.form_title{
    text-align: center;
    font-weight: 600;
font-size: 48px;
line-height: 64px;
/* identical to box height, or 133% */

letter-spacing: -0.02em;

color: #181818;
}
.servicesForm{
    text-align: center;
    /* width: 448px; */
    width: 400px;
height: 300px;

margin-top: 80px;

background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 16px;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px 24px;
gap: 8px;
}

.servicesForm select{
    padding-left: 16px;
}

.formReg{
    margin: 0 0 0 340px;
}

.setting_firstForm{
    width: 400px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 8px;
    top: calc(50% - 48px/2);

    border: 1px solid #DBDBDB;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #808080;
}

.setting_secondForm{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 400px;
    height: 48px;

    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 8px;


    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 24px;
    margin-bottom: 24px;

}


.text_form{
    font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #181818;
margin-bottom: 40px;

}



.formButton{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 24px 17px;
gap: 8px;

width: 350px;
height: 10px;

border: 2px solid #181818;
border-radius: 8px;
font-weight: 600;
font-size: 16px;
line-height: 24px;

color: #181818;
margin-bottom: 40px;
}

.faq_title{
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-top: 120px;
    width: 100%;
    text-align: center;
}
.faq_block{
    background-color:#000;
    padding-bottom: 120px;
}

.wrapper{
    margin: 85px auto 0 auto;
    max-width: 1160px;
}

.item{
    margin-bottom: 16px;
    width: 1160px;
}

.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 40px;
    gap: 24px;
    position: relative;
    border: .2rem solid rgba(255, 255, 255, 255);
    border-radius:16px;
    cursor: pointer;   
    /* transition: box-shadow .2s ease-in-out; */
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
    background-color:#fff;
}

.question::before,
.question::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 1.2rem;
    height: 0.2rem;

    background:midnightblue;

    transition: transform .2s ease-in-out;
}

.question::before{
    transform: rotate(-40deg);
    right: 2.1rem;
}

.question::after{
    transform: rotate(40deg);
    right: 3rem;
}

.question.active{
    background:#fff;
    
}

.answer{
    /* display: none; */
    padding: 2.5rem;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color:#fff;
    border-radius: 0 0 20px 20px;
}





.question.active::before{
    transform: rotate(40deg);
    right: 2.1rem;
}

.question::after{
    transform: rotate(-40deg);
    right: 3rem;
}
.answer{
    padding: 2.5rem;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -40px;
    
}

.container_form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -508px;
}





.form{
    background-color:#fff;
    /* height: 50px;
    width: 420px; */
    text-align: center;
    /* border: 1px solid red; */
}

.form_items{
    text-align: center;
    
    
    padding: 40px 24px;
    gap: 8px;
    
    width: 448px;
    height: 500px;
    left: 496px;
    top: 6936px;
    
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    margin-bottom: 160px;

}


.mainText{
    margin: 120px 0 8px 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.02em;

    color: #181818;
}

.secontText{
    font-size: 18px;
    color:#030303;
    margin-bottom: 80px;
}

.formInput{
    background: #fff;
    height: 48px;
    border-radius:8px;
    display: flex;
    /* justify-content: center; */
    width: 400px;
    margin: 0px 24px 24px 24px;
    border: 1px solid #cccccc;
}

.formInput i{
    font-size: 17px;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
    padding-right: 16px;
}

.comment_settings{
    margin-top: 12px;
}

.formInput input{
    flex: .7;
    background:#fff;
    border:none;
    outline: none;
    font-size: 16px;
    color: #808080;
    font-weight: 500;
}

.comment{
    height: 160px;
}

.form select{
    padding-left: 16px;
}

.serv_select{
    color: #808080;
    font-weight: 500;
    font-size: 16px;
    width: 403px;
}

.send{
    border:none;
    color:#fff;
    background:#058cdd;
    width: 180px;
    height: 40px;
    border-radius:40px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 30px;
    transition: .4s;
    outline: none;
    margin-bottom: 40px;

    padding: 15px 24px 17px;
    gap: 8px;

    width: 400px;
    height: 56px;

    background: #181818;
    border-radius: 8px;

}

.send:hover{
    box-shadow: 0 0 3px 1px rgb(22, 22, 22);
    opacity: 0.5;
    outline: none;
}

.icon_lightningDown{
    position: relative;
    width: 100px;
    height: 100px;
    left: -29px;
    top: 147px;

    background: #f1f1f1;
    border-radius:100px
}

.icon_lightningDown img{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    padding-top: 30px;
}

.icon_programmerDown{
    position: relative;
    width: 170px;
    height: 170px;
    right: -1096px;
    top: 419px;
    background: #f1f1f1;
    border-radius:100px;
    
}

.icon_programmerDown img{
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-top: 26px;
    padding-top: 19px;
}

.icon_messageDown{
    position: relative;
    width: 140px;
    height: 140px;
    right: -144px;
    top: 532px;
    background: #F1F1F1;
    border-radius: 100px;
}

.icon_messageDown img{
    display: block;
    width: 56px;
    height: 54px;
    margin: 0 auto;
    /* margin-top: 60px; */
    padding-top: 45px;
}

.icons_socialfb{
    position: relative;
    left: 876px;
    top: -143px;
    background: #F9F9F9;
    border-radius:10%;
    width: 24px;
    height: 24px;
}
.icons_socialfb img{
    display: block;
    margin: 0 auto;
    padding: 4.8px;
}

.icons_socialtw{
    position: relative;
    left: 876px;
    top: -127px;
    background: #F9F9F9;
    border-radius:10%;
    width: 24px;
    height: 24px;
}
.icons_socialtw img{
    display: block;
    margin: 0 auto;
    padding: 4.8px;
}

.icons_socialvk{
    position: relative;
    left: 876px;
    top: -109px;
    background: #F9F9F9;
    border-radius:10%;
    width: 24px;
    height: 24px;
}
.icons_socialvk img{
    display: block;
    margin: 0 auto;
    padding: 6px 0 0 0;
}

.divider{
    width: 80px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #181818;
    margin-top: -62px;
    margin-bottom: 56px;
}